<div class="container">
  <h1>Angular HttpClient</h1>

  <section class="card">
    <div class="form-control">
      <input type="text" placeholder="Name">
    </div>
    <div class="controls">
      <button class="btn">Add</button>
      <button class="btn">Download</button>
    </div>
  </section>

  <hr />

  <section class="card" *ngFor="let todo of todos">
    <div class="card__under">
      <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
      <span>
        <button class="btn btn-danger">Delete</button>
        <button class="btn" [disabled]="todo.completed">Complete</button>
      </span>
    </div>
  </section>

  <hr />

  <img [src]="poster">
</div>
<!-- <app-post></app-post> -->
