<div class="container">
  <h1>Angular HttpClient</h1>

  <section class="card">
    <div class="form-control">
      <input type="text" placeholder="Name">
    </div>
    <div class="controls">
      <button class="btn">Add</button>
      <button class="btn">Download</button>
    </div>
  </section>

  <hr />

  <section class="card" *ngFor="let todo of todos">
    <div class="card__under">
      <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
      <span>
        <button class="btn btn-danger">Delete</button>
        <button class="btn" [disabled]="todo.completed">Complete</button>
      </span>
    </div>
  </section>

  <hr />

  <!-- <img [src]="poster" alt="Some picture" /> -->
</div>

<hr />

<app-post-form
  (onAdd)="updatePostTest($event)"
></app-post-form>

<app-post
  *ngFor="let p of postTest"
  [post]="p"
>
  <small *ngIf="p.title.length < 5; else long">
    Title has got really short amount of letters
  </small>
  <ng-template #long>
    <small>
      Title has normal length
    </small>
  </ng-template>
</app-post>
