<app-header></app-header>

<app-search-box (responseListener)="prepareDescription($event)"></app-search-box>

<section class="post" *ngIf="title">
  <img class="post__img" [src]="poster" alt="Poster image"/>
  <article class="post__description">
    <h2 class="post__title">{{title | uppercase}}</h2>
    <h3>Rating: {{rating}}</h3>
    <p>Release Date: {{releaseDate | date}}</p>
    <p>Original Language: {{originalLanguage}}</p>

    <div class="post__plot">
      <h3>Plot</h3>
      <hr />
      <p>{{plot}}</p>
    </div>
  </article>
</section>
<!-- <app-post></app-post> -->
